<!doctype html>
<html ng-app="xdoc">
  <head>
    <title>Stratego API Documentation</title>

    <base href="/">
    <meta charset="utf-8">
    <meta name="fragment" content="!"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="favicon.ico"/>

    <script src="dist/script.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="search-container">
        <input
          type="search"
          id="search"
          placeholder="Click 'S' or '/' to search"
          ng-model="query"
          ng-change="search()"
          ng-model-options="{debounce: 200}"
          autofocus
          />
      </div>
      
      <div class="row">
        <div class="col-md-8 col-sm-8">
            <div ng-view autoscroll></div>
        </div>
        <div class="col-md-4 col-sm-4 sidebar">
            <h5>Packages</h5>
            <ul class="packages">
                <li ng-repeat="package in packages">
                    <a ng-href="package/{{package.name}}">{{package.name}}</a>
                    <ul>
                        <li ng-repeat="module in package.modules">
                            <a ng-href="module/{{module}}">{{module.substr(package.name.length+1)}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
  </body>
</html>
